<app-nav></app-nav>
<div class="w-screen border-round-sm p-2" style="height:fit-content ">
  <p-panel [collapsed]="true" [toggleable]="true">
    <ng-template pTemplate="header">
      <!-- <img src="https://avatars.githubusercontent.com/u/97983021?s=400&u=1a47d623a62eac5a07240d1047cd5c2ec5aa6d3c&v=4" style="width: 5rem; border-radius: 50%"> -->
      <i class="fa-solid fa-user fa-3x"></i>
      <span class="mx-2 text-2xl" *ngIf="profile">{{profile.name +" "+ profile.lastName}}</span>
    </ng-template>

  </p-panel>
</div>
