<div class="w-screen h-screen surface-500 p-block flex justify-content-center align-items-center ">
  <div class="p-2 animate__animated animate__pulse animate__delay-2s">
      <p-card [style]="{width: '60vw', background : '#eee'}">
        <form [formGroup]="form">
            <div class="grid p-fluid ">
              <div class="col-12 text-center">
                <span class="text-4xl">Cadastro</span>
              </div>
              <div class="lg:col-6 md:col-6 sm:col-12">
                <label for="name">Nome</label>
                  <input id="name" type="text" formControlName="name" pInputText placeholder="Primeiro nome">
              </div>
              <div class="lg:col-6 md:col-6 sm:col-12">
                <label for="lastname">Sobrenome</label>
                  <input type="text" formControlName="lastName" id="lastName" pInputText placeholder="Último sobrenome">
              </div>
              <div class="lg:col-6 md:col-6 sm:col-12">
                <label for="cpf">CPF</label>
                <p-inputMask mask="999.999.999-99" id="cpf" formControlName="cpf" placeholder="123.456.789.01"></p-inputMask>
              </div>
              <div class="lg:col-6 md:col-6 sm:col-12">
                <label for="phone">Telefone</label>
                <p-inputMask formControlName="phone" id="phone" mask="(99) 99999-9999" placeholder="(41) 99999-9999"></p-inputMask>
              </div>
              <div class="col-12">
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" pInputText placeholder="Ex: developer@inow.io">
              </div>
              <div class="col-12">
                <span for="password">Senha</span>
                <p-password [toggleMask]="true" type="password" id="password" formControlName="password" autocomplete="username" placeholder="Nex: 123456"></p-password>
              </div>
              <div class="col-12">
                <button pButton pRipple type="button" label="Entrar" (click)="signUp()" [disabled]="!form.valid" class="p-button-outlined p-button-success w-full"></button>
              </div>
              <div class="col-12 text-center">
                <small>Possui conta? <a class="no-underline" routerLink="/login"> Faça o login </a></small>
              </div>
          </div>
        </form>
      </p-card>
  </div>
</div>
