<div class="w-screen h-screen p-block">
  <div class="flex justify-content-center align-items-center p-2">
      <p-card [style]="{width: '60vw'}">
        <form [formGroup]="form">
            <div class="grid p-fluid ">
              <div class="col-12 text-center">
                <span class="text-4xl">Cadastro</span>
              </div>
              <div class="col-6">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                      <input type="text" formControlName="name" pInputText placeholder="Nome">
                  </div>
              </div>
              <div class="col-6">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                      <input type="text" formControlName="lastname" pInputText placeholder="Sobrenome">
                  </div>
              </div>
              <div class="col-6">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-info"></i></span>
                      <input type="text" formControlName="cpf" pInputText placeholder="CPF">
                  </div>
              </div>
              <div class="col-6">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                      <input type="phone" formControlName="phone" pInputText placeholder="Phone">
                  </div>
              </div>
              <div class="col-12">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon">@</span>
                      <input type="email" formControlName="email" pInputText placeholder="Email">
                  </div>
              </div>
              <div class="col-12">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                      <input type="password" formControlName="password" pInputText autocomplete="username" placeholder="Senha">
                  </div>
              </div>
              <!-- <div class="col-6">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                      <input type="password" formControlName="re_password" pInputText autocomplete="username" placeholder="Confirme a senha">
                  </div>
              </div> -->
              <div class="col-12">
                <button pButton pRipple type="button" label="Entrar" (click)="signUp()" [disabled]="!form.valid" class="p-button-outlined p-button-success w-full"></button>
              </div>
              <div class="col-12 text-center">
                <small>Possui conta? <a class="no-underline" href="/login"> Faça o login </a></small>
              </div>
          </div>
        </form>
      </p-card>
  </div>
</div>
